In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
data_virus = pd.read_csv('./annotated_tweets_w_text.csv')
data_virus.head()

In [35]:
data = pd.read_csv('./Twitter_Data.csv') #,parse_dates=[0]
data.head()

C:\Users\Priscila\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,9,10,11,12,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date,User,Tweet,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2020-06-29 23:59:53,paradino12,puta merda china para de inventar mais covid P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-29 23:59:45,flavinhocastro0,Ainda não encontraram nenhuma vacina para a Co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-29 23:59:39,Apequena_caju,"Gente pelo amor de Deus, eu nem me recuperei d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-06-29 23:59:23,WASHING70434814,#Os grandes culpados por estar acontecendo no ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-06-29 23:57:23,Lorrayn_ee,@g1 China ??? De novo ???\n\nH1n1 china\n\nGri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data = data[['Date','User', 'Tweet']]
data.head()

,Date,User,Tweet
0,2020-06-29 23:59:53,paradino12,puta merda china para de inventar mais covid P...
1,2020-06-29 23:59:45,flavinhocastro0,Ainda não encontraram nenhuma vacina para a Co...
2,2020-06-29 23:59:39,Apequena_caju,"Gente pelo amor de Deus, eu nem me recuperei d..."
3,2020-06-29 23:59:23,WASHING70434814,#Os grandes culpados por estar acontecendo no ...
4,2020-06-29 23:57:23,Lorrayn_ee,@g1 China ??? De novo ???\n\nH1n1 china\n\nGri...

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117316 entries, 0 to 117315
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    117316 non-null  object
 1   User    117316 non-null  object
 2   Tweet   117316 non-null  object
dtypes: object(3)
memory usage: 2.7+ MB

In [38]:
data['Date_'] = pd.to_datetime(data['Date'])
data['Date_'] = data['Date_'].dt.strftime('%m/%d/%Y')
data.head()

,Date,User,Tweet,Date_
0,2020-06-29 23:59:53,paradino12,puta merda china para de inventar mais covid P...,06/29/2020
1,2020-06-29 23:59:45,flavinhocastro0,Ainda não encontraram nenhuma vacina para a Co...,06/29/2020
2,2020-06-29 23:59:39,Apequena_caju,"Gente pelo amor de Deus, eu nem me recuperei d...",06/29/2020
3,2020-06-29 23:59:23,WASHING70434814,#Os grandes culpados por estar acontecendo no ...,06/29/2020
4,2020-06-29 23:57:23,Lorrayn_ee,@g1 China ??? De novo ???\n\nH1n1 china\n\nGri...,06/29/2020

In [39]:
data['Time_'] = pd.to_datetime(data['Date'])
data['Time_'] = data['Time_'].dt.strftime('%H:%M:%S')
data.head()

,Date,User,Tweet,Date_,Time_
0,2020-06-29 23:59:53,paradino12,puta merda china para de inventar mais covid P...,06/29/2020,23:59:53
1,2020-06-29 23:59:45,flavinhocastro0,Ainda não encontraram nenhuma vacina para a Co...,06/29/2020,23:59:45
2,2020-06-29 23:59:39,Apequena_caju,"Gente pelo amor de Deus, eu nem me recuperei d...",06/29/2020,23:59:39
3,2020-06-29 23:59:23,WASHING70434814,#Os grandes culpados por estar acontecendo no ...,06/29/2020,23:59:23
4,2020-06-29 23:57:23,Lorrayn_ee,@g1 China ??? De novo ???\n\nH1n1 china\n\nGri...,06/29/2020,23:57:23

In [40]:
data = data[['Date_', 'Time_', 'User', 'Tweet']]
data.head()

,Date_,Time_,User,Tweet
0,06/29/2020,23:59:53,paradino12,puta merda china para de inventar mais covid P...
1,06/29/2020,23:59:45,flavinhocastro0,Ainda não encontraram nenhuma vacina para a Co...
2,06/29/2020,23:59:39,Apequena_caju,"Gente pelo amor de Deus, eu nem me recuperei d..."
3,06/29/2020,23:59:23,WASHING70434814,#Os grandes culpados por estar acontecendo no ...
4,06/29/2020,23:57:23,Lorrayn_ee,@g1 China ??? De novo ???\n\nH1n1 china\n\nGri...

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117316 entries, 0 to 117315
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date_   117316 non-null  object
 1   Time_   117316 non-null  object
 2   User    117316 non-null  object
 3   Tweet   117316 non-null  object
dtypes: object(4)
memory usage: 3.6+ MB

In [42]:
start_date = pd.to_datetime('01/03/2020')
date_list = []

for j in pd.date_range(start='03/01/2020', end='06/29/2020'):
    date_list.append(j.date().strftime('%m/%d/%Y'))

morcego OR china OR xingling OR \"pastel de flango\" OR chineses OR \"virus chines\" OR \"peste chinesa\" OR chinesada

In [43]:
date_list

['03/01/2020',
 '03/02/2020',
 '03/03/2020',
 '03/04/2020',
 '03/05/2020',
 '03/06/2020',
 '03/07/2020',
 '03/08/2020',
 '03/09/2020',
 '03/10/2020',
 '03/11/2020',
 '03/12/2020',
 '03/13/2020',
 '03/14/2020',
 '03/15/2020',
 '03/16/2020',
 '03/17/2020',
 '03/18/2020',
 '03/19/2020',
 '03/20/2020',
 '03/21/2020',
 '03/22/2020',
 '03/23/2020',
 '03/24/2020',
 '03/25/2020',
 '03/26/2020',
 '03/27/2020',
 '03/28/2020',
 '03/29/2020',
 '03/30/2020',
 '03/31/2020',
 '04/01/2020',
 '04/02/2020',
 '04/03/2020',
 '04/04/2020',
 '04/05/2020',
 '04/06/2020',
 '04/07/2020',
 '04/08/2020',
 '04/09/2020',
 '04/10/2020',
 '04/11/2020',
 '04/12/2020',
 '04/13/2020',
 '04/14/2020',
 '04/15/2020',
 '04/16/2020',
 '04/17/2020',
 '04/18/2020',
 '04/19/2020',
 '04/20/2020',
 '04/21/2020',
 '04/22/2020',
 '04/23/2020',
 '04/24/2020',
 '04/25/2020',
 '04/26/2020',
 '04/27/2020',
 '04/28/2020',
 '04/29/2020',
 '04/30/2020',
 '05/01/2020',
 '05/02/2020',
 '05/03/2020',
 '05/04/2020',
 '05/05/2020',
 '05/06/2020',
 '05/07/2020',
 '05/08/2020',
 '05/09/2020',
 '05/10/2020',
 '05/11/2020',
 '05/12/2020',
 '05/13/2020',
 '05/14/2020',
 '05/15/2020',
 '05/16/2020',
 '05/17/2020',
 '05/18/2020',
 '05/19/2020',
 '05/20/2020',
 '05/21/2020',
 '05/22/2020',
 '05/23/2020',
 '05/24/2020',
 '05/25/2020',
 '05/26/2020',
 '05/27/2020',
 '05/28/2020',
 '05/29/2020',
 '05/30/2020',
 '05/31/2020',
 '06/01/2020',
 '06/02/2020',
 '06/03/2020',
 '06/04/2020',
 '06/05/2020',
 '06/06/2020',
 '06/07/2020',
 '06/08/2020',
 '06/09/2020',
 '06/10/2020',
 '06/11/2020',
 '06/12/2020',
 '06/13/2020',
 '06/14/2020',
 '06/15/2020',
 '06/16/2020',
 '06/17/2020',
 '06/18/2020',
 '06/19/2020',
 '06/20/2020',
 '06/21/2020',
 '06/22/2020',
 '06/23/2020',
 '06/24/2020',
 '06/25/2020',
 '06/26/2020',
 '06/27/2020',
 '06/28/2020',
 '06/29/2020']

In [44]:
df_final = pd.DataFrame()
df_final['Date_'] = ""
df_final['Time_'] = ""
df_final['User'] = ""
df_final['Tweet'] = ""

In [45]:
for day in date_list:
    data_day = data.loc[data['Date_'] == day]
    #print(day)
    #print(data_day.count())
    sample = data_day.sample(n=200)
    df_final = df_final.append(sample, ignore_index = True)

In [46]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24200 entries, 0 to 24199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date_   24200 non-null  object
 1   Time_   24200 non-null  object
 2   User    24200 non-null  object
 3   Tweet   24200 non-null  object
dtypes: object(4)
memory usage: 756.4+ KB

In [47]:
df_final.to_csv('Tweet_Processed.csv', encoding='utf-8')

In [ ]:
df_final[['Date_', 'Time_']]

In [25]:
morcego = df_final["Tweet"].str.lower().str.contains('morcego')
total_morcego = morcego.sum()
total_morcego

855

In [ ]:
indices = np.where(morcego)[0]

In [ ]:
morcego_excel = data.iloc[indices]
morcego_excel.to_csv('morcego.csv',encoding='utf-8-sig')

In [26]:
china = df_final["Tweet"].str.lower().str.contains('china')
total_china = china.sum()
total_china

20407

In [27]:
xingling = df_final["Tweet"].str.lower().str.contains('xingling')
total_xingling = xingling.sum()
total_xingling

7

In [28]:
xing_ling = df_final["Tweet"].str.lower().str.contains('xing ling')
total_xing_ling = xing_ling.sum()
total_xing_ling

32

In [29]:
pastel_flango = df_final["Tweet"].str.lower().str.contains('pastel de flango')
total_pastel_flango = pastel_flango.sum()
total_pastel_flango

6

In [30]:
chineses = df_final["Tweet"].str.lower().str.contains('chineses')
total_chineses = chineses.sum()
total_chineses

1970

In [31]:
virus_chines = df_final["Tweet"].str.lower().str.contains('virus chines')
total_virus_chines = virus_chines.sum()
total_virus_chines

52

In [32]:
peste_chinesa = df_final["Tweet"].str.lower().str.contains('peste chinesa')
total_peste_chinesa = peste_chinesa.sum()
total_peste_chinesa

97

In [33]:
chinesada = df_final["Tweet"].str.lower().str.contains('chinesada')
total_chinesada = chinesada.sum()
total_chinesada

0

In [ ]:
xing = pd.read_csv('./tweets_xing_ling.csv')
xing.head()

In [ ]:
xing.info()